body {
  margin:0 auto;
}
.box{
  /*height: 100px;*/
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: center;
  width: 30%;
  box-sizing: border-box;
}

p {
  font-family: Helvetica;
  margin:auto;
  line-height:60px;
}

.one-third {
  width:calc(33.3% - 20px);
  float:left;
  margin: 10px;
  background-color: #EB9794;
  min-height: 160px;
}
.two-third {
  width: calc(66.7% - 20px);
  float: left;
  margin:10px;
  background-color: #A1BFF6;
  min-height: 160px;
}

.full{
  width:calc(100% - 20px);
  clear:both;
  overflow:hidden;
  margin: 10px;
  min-height: 90px;
  background-color:white;
}

.clearfix {
  clear:both;
  border:none;
}

@media (max-width: 768px) {
    .one-third {
        width: calc(100% - 20px)
    }
    .two-third {
        width: calc(100% - 20px);
    }
}

/*nth-last-child(2):nth-child(odd)*/

.header {
  position: fixed;
  margin-top:0;
  z-index: 2;
}
.wrapper {
  position:relative;
  top:100px;
}
.footer {
  position: fixed;
  margin-bottom:0;
  bottom:0;
  z-index: 2;
}
